@font-face{
    font-family: "TimelessMemories";
    src: local("TimelessMemories"), url("/static/fonts/timeless-memories/TimelessMemoriesRegular-2vvwo.otf") format("opentype");
}
@font-face{
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"), url("/static/fonts/helvetica-neue-5/HelveticaNeueLight.otf") format("opentype");
}

.mainHeaders h1{
    font-family: TimelessMemories;
}

.mainSubtitle p{
    font-family: HelveticaNeue;
}

/* .navbar{

}

.navbar ul {

} */